---
import Layout from "../../layouts/LayoutGaleria.astro";
import GalleryView from "../../components/GalleryView";
import cortinas from "../../json/cortinas.json";
---

<Layout
    title="Galeria de Cortinas Rolô"
    description="Veja todas as opções de cortinas. Pressione para ver mais"
    sections={null}
>
    <section class="bg-white text-center text-black px-12 py-10">
        <div class="flex flex-row flex-wrap items-center justify-center">
            <GalleryView
                product_type="cortinas"
                gallery_items={cortinas}
                client:load
            />
        </div>
    </section>
</Layout>