---
import Layout from "../../layouts/LayoutGaleria.astro";
import GalleryView from "../../components/GalleryView";
import telas from "../../json/telas.json";
---

<Layout
    title="Galeria de Telas de Sombreamento"
    description="Veja todas as opções de telas. Pressione para ver mais"
    sections={null}
>
    <section class="bg-white text-center text-base-100 px-12 py-10">
        <div class="flex flex-row flex-wrap items-center justify-center">
            <GalleryView
                product_type="telas"
                gallery_items={telas}
                client:load
            />
        </div>
    </section>
</Layout>