---
import Layout from "../../layouts/LayoutGaleria.astro";
---

<Layout
  title="Galeria de Vidros"
  description="Veja todas as opções de vidros. Pressione para ver mais"
  sections={["box", "portas", "janela_2_folhas", "janela_4_folhas"]}
>
  <div class="p-3 py-20 bg-base-100">
    <h1 class="text-2xl text-base-content text-center">
      Nada aqui por enquanto!
    </h1>
  </div>
</Layout>
