---
import Layout from "../layouts/LayoutSubpage.astro";

const allPosts = await Astro.glob("./blog/*.md");
---

<Layout
  title="Dicas Toldos Mania"
  description="Aqui você pode ver informações sobre tudo relacionado a nossos produtos."
>
  <div class="min-w-screen">
    <ul
      class="flex min-h-screen flex-row flex-wrap justify-center bg-base-100 pt-10 text-base-content"
    >
      {
        allPosts.map((post) => (
          <li>
            <div class="card m-3 max-h-96 w-96 border-b-4 border-b-accent-focus bg-accent shadow-xl hover:bg-accent-focus">
              <a href={post.url} class="card-body text-accent-content">
                <h2 class="card-title">{post.frontmatter.title}</h2>
                <p>{post.frontmatter.description}</p>
              </a>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
