---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
interface Props {
  src: ImageMetadata;
  alt: string;
  width: number;
  height: number;
  classlist: string;
}
const { alt, src, width, height, classlist } = Astro.props;
---

<div class="m-3 flex justify-center md:flex-col lg:flex-row">
  <div class="card">
    <Image
      src={src}
      alt={alt}
      width={width}
      height={height}
      class:list={[classlist, "rounded-t-xl"]}
      quality="low"
      format="webp"
    />
    <button
      class="text-md btn btn-secondary rounded-b-2xl rounded-t-none border-b-4 border-secondary-focus p-2 py-3 text-center font-semibold uppercase lg:text-xl"
    >
      <slot />
    </button>
  </div>
</div>
