<div class="navbar bg-blue-500 text-white p-4">
    <div class="navbar-start">
        <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost lg:hidden">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    ><path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 6h16M4 12h8m-8 6h16"></path></svg
                >
            </label>
            <ul
                tabindex="0"
                class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
            >
                <li><a href="/toldosmania-web/">Início</a></li>
                <li><a href="/toldosmania-web/#materiais">Materiais</a></li>
                <li><a href="/toldosmania-web/#produtos">Produtos</a></li>
            </ul>
        </div>
        <a class="btn btn-ghost normal-case text-xl hidden lg:block" href="/"
            ><img
                src="/toldosmania-web/logo.jpg"
                alt="Logo ToldosMania"
                class="object-scale-down h-12 w-32 rounded-xl border-4 bg-white border-white"
            /></a
        >
    </div>
    <div class="navbar-center hidden lg:flex">
       <ul class="menu menu-horizontal px-1 xl:text-lg">
            <li><a href="/toldosmania-web/">Início</a></li>
            <li><a href="/toldosmania-web/galeria">Produtos</a></li>
        </ul>
    </div>
    <div class="navbar-end">
        <a
            href="/#contato"
            class="btn btn-info text-white sm:btn-md border-b-4 hover:bg-white hover:text-gray-800 hover:border-blue-200 hidden lg:flex"
            >Contato</a
        >
        <a class="btn btn-ghost normal-case text-xl lg:hidden" href="/"
            ><img
                src="/toldosmania-web/logo.jpg"
                alt="Logo ToldosMania"
                class="object-scale-down h-12 w-32 rounded-xl border-4 bg-white border-white"
            /></a
        >
    </div>
</div>
