---
import FooterMain from "../components/FooterMain.astro";
import Navbar from "../components/Navbar";
import { BASE_URL } from "../toldosmania_info";
import StandardLayout from "./StandardLayout.astro";
StandardLayout;
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<StandardLayout title={title}>
  <Navbar client:only />
  <main class="min-h-screen bg-base-100">
    <div
      class="hero min-h-screen"
      style={`min-height: 30vh; background-image: url(${BASE_URL}/hero_bg/vidro_sample.jpg);`}
    >
      <div class="hero-overlay bg-base-100 bg-opacity-70"></div>
      <div class="hero-content">
        <div class="max-w-xl text-base-content">
          <h1 class="mt-16 text-xl font-bold lg:mt-10 lg:text-2xl">
            {title}
          </h1>
          <h3 class="text-sm font-semibold lg:text-lg">
            {description}
          </h3>
        </div>
      </div>
    </div>
    <slot />
  </main>
  <FooterMain />
</StandardLayout>